  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arvo:ital@1&family=Ruwudu:wght@400;500&family=Tilt+Prism&display=swap');

  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: Helvetica, Tahoma;
    background-color: #ffffff;
  }

  .contiene {
    max-height: 90vh;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
  }

  .atras {
    height: 280px;
    width: 100%;
  }

  .atras img {
    height: 100%;
    width: 100%;
  }

  li {
    height: 640px;
    font-size: 1.2rem;
    color: rgb(2, 2, 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
  }

  .nav {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    border-bottom: solid 2px black;
    background-color: #ffffff;
  }

  .perfil img {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
  }

  .menuDesplegable {
    background-color: #F0F2F5;
    width: 300px;
    position: absolute;
    height: 300px;
    top: 50px;
    right: 5px;
    transition: all 1200ms;
    z-index: 5;
    display: inline;
    border-radius: 30px;
    -webkit-box-shadow: 18px -100px 50px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 18px -1px 50px 3px rgba(0, 0, 0, 1);
    box-shadow: 1px -1px 5000px 30px rgb(95, 94, 94);
  }

  .menuDesplegable2 {
    background-color: #F0F2F5;
    width: 40px;
    position: absolute;
    right: 5px;
    top: -300px;
    transition: all 1200ms;
    z-index: 5;
  }

  .secciones {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 100%;
    color: rgb(68, 68, 68);
    cursor: pointer;
  }

  .fc:hover {
    background-color: #1773EA;
    color: #F0F2F5;
  }

  .ing:hover {
    color: #F0F2F5;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
  }

  .in:hover {
    color: #F0F2F5;
    background-color: #0A63BC;
  }

  .git:hover {
    background-color: #14191E;
    color: #F0F2F5;
  }

  .style {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
  }

  .style:hover {
    background-color: #ffffff;
  }

  a {
    text-decoration: none;
  }

  .parafo {
    gap: 20px;

  }

  .welcome {
    color: #3a3939;
    font-size: 9.4rem;
    border-bottom: 2px solid gray;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Arvo', serif;
    font-family: 'Ruwudu', serif;
    font-family: 'Tilt Prism', cursive;
  }

  .emer {
    font-size: 1.6em;
    color: #e70000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .terminar {
    height: 95vh;
    background-color: #7e70b9;
  }

  /* sjdfakkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .box {
    width: 85%;
    height: 580px;
    border-radius: 10px;
    display: grid;
    grid-template: "caja caja2";
    gap: 25px;
    padding: 5%;
  }

  .box-1 {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    color: #3f4144;
  }

  .fondo {
    background-image: url(../img/fondo-onda-vapor-vintage-lineal_23-2148897247.avif);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .e {
    grid-area: caja;
  }

  .des {
    font-size: 2.4em;
    color: #0d0d0d;
    font-family: 'Bebas Neue';
  }

  .aos-all {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor {
    display: grid;
    grid-template: " titulo titulo2" 100%
      "img img";
  }

  h2 {
    grid-area: titulo;
    color: #fff;
  }

  .icon-img {
    height: 650px;
    width: 100%;
  }

  .icon-img img {
    width: 100%;
    height: 90%;
  }

  @media only screen and (max-width: 1300px) {

    .nav {
      gap: 15px;
    }

    .secciones {
      font-size: 0.9em;
      width: 100%;
    }

    .welcome {
      position: relative;
      top: 30px;
      font-size: 10vw;
      height: 70px;
    }

    .descripcion {
      font-size: 0.8em;
    }

    .des {
      font-size: 2.9em;
    }
  }

  @font-face {
    font-display: swap;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v9-latin-regular.eot');
    src: url('../fonts/bebas-neue-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'),
      url('../fonts/bebas-neue-v9-latin-regular.woff') format('woff'),
      url('../fonts/bebas-neue-v9-latin-regular.ttf') format('truetype'),
      url('../fonts/bebas-neue-v9-latin-regular.svg#BebasNeue') format('svg');
  }